<div>
    <h1>Las mejores camisetas blancas {{ post?.title}} en 2020</h1>
    <img [src]="environment.staticURL + post?.image" [alt]="post?.title" loading="lazy">
    <ng-container *ngFor="let paragraph of post?.paragraphs.slice(0, 2)">
        <h5 *ngIf="paragraph?.htmlTag.content == 'title'" [innerHtml]="paragraph.content"></h5>
        <h6 *ngIf="paragraph?.htmlTag.content == 'subtitle'" [innerHtml]="paragraph.content"></h6>
        <p *ngIf="paragraph?.htmlTag.content == 'paragraph'" [innerHtml]="paragraph.content"></p>
        <strong *ngIf="paragraph?.htmlTag.content == 'quote'" [innerHtml]="paragraph.content"></strong>
        <span *ngIf="paragraph?.htmlTag.content == 'summary'" [innerHtml]="paragraph.content"></span>
        <img *ngIf="paragraph?.htmlTag.content == 'image'" [src]="paragraph.content" [alt]="paragraph.content" loading="lazy">
    </ng-container>
</div>
<div>
    <app-card-grid [posts]="posts"></app-card-grid>
</div>
<div>
    <ng-container *ngFor="let paragraph of post?.paragraphs.slice(2)">
        <h5 *ngIf="paragraph?.htmlTag.content == 'title'" [innerHtml]="paragraph.content"></h5>
        <h6 *ngIf="paragraph?.htmlTag.content == 'subtitle'" [innerHtml]="paragraph.content"></h6>
        <p *ngIf="paragraph?.htmlTag.content == 'paragraph'" [innerHtml]="paragraph.content"></p>
        <strong *ngIf="paragraph?.htmlTag.content == 'quote'" [innerHtml]="paragraph.content"></strong>
        <span *ngIf="paragraph?.htmlTag.content == 'summary'" [innerHtml]="paragraph.content"></span>
        <img *ngIf="paragraph?.htmlTag.content == 'image'" [src]="paragraph.content" [alt]="paragraph.content" loading="lazy">
    </ng-container>
</div>