main {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    max-width: 1024px;
    margin: 0 auto;
    >div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        >app-main-grid {
            width: 100%;
        }
        >app-mini-list {
            width: 40%;
        }
        >app-mini-index {
            width: 30%;
        }
        >app-score-card {
            width: 30%;
        }
        >app-card-detail {
            width: 33.3333%;
        }
        >app-card-list {
            width: 100%;
        }
    }
}