@import '../../../colors';
:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    >article {
        position: relative;
        overflow: hidden;
        border: 1px solid rgba($white, 1);
        >a {
            outline: 0;
            >img {
                width: 80px;
                height: 80px;
            }
            >div {
                visibility: hidden;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 82px;
                height: 82px;
                background-color: rgba($yellow, 1);
                >h3 {
                    font-size: 1.4rem;
                    text-align: center;
                    color: $white;
                    text-transform: uppercase;
                }
            }
            &:hover {
                >div {
                    visibility: visible;
                }
            }
        }
    }
}