<main>
    <div>
        <h1>Encuentra las mejores camisetas básicas blancas en 2020 al mejor precio.</h1>
        <p>Si te gusta vestir con básicos, si estás buscando la mejor camiseta blanca básica, para trabajar, para salir, para combinar o incluso para dormir, este es tu sitio. Analizamos las mejores camisetas y prendas básicas y te ofrecemos la mejor información
            que encontrarás sobre su calidad, precio, materiales, tejidos, resistencia a los lavados y durabilidad. ¡Con los camisetas básicas no se juega!</p>
        <p>¿Quieres saber cuál es la mejor camiseta basica de manga corta para hombre? Analizamos todas las camisetas por ti para que sepas todo acerca de tu próxima compra. Formas, tejidos, marcas, colores, durabilidad, costuras, etiquetas, resistencia
            a los lavados, precio, etc</p>
    </div>
    <div>
        <app-featured-reviews [featuredReviews]="lastReviews"></app-featured-reviews>
    </div>
    <div>
        <div>
            <h2>Últimas reviews</h2>
        </div>
        <div>
            <app-card-list [posts]="lastReviews"></app-card-list>
        </div>
    </div>
    <div>
        <div>
            <h2>Mejores marcas de camisetas blanca</h2>
        </div>
        <app-directory [items]="brands"></app-directory>
    </div>
    <div>
        <div>
            <div class="masvistos">
                <app-mini-list [posts]="lastReviews"></app-mini-list>
            </div>
            <div class="etiquetas">
                <app-mini-index [index]="tags"></app-mini-index>
            </div>
        </div>
    </div>
    <div>
        <app-text-block></app-text-block>
    </div>
</main>