@import '../../../colors';
:host {
    display: flex;
    flex-direction: column;
    >main {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        header {
            display: flex;
            flex-direction: column;
        }
        div {
            display: flex;
            flex-direction: column;
        }
        section {
            display: flex;
            flex-direction: column;
            >header {
                flex-direction: row;
                border-bottom: 2px solid $light-color;
                margin: 3rem 0 1rem 0;
            }
            app-featured-reviews {
                margin: 0 -1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
     :host {
        >main {
            width: 700px;
            margin: 0 auto;
            >div {
                >div {
                    flex-direction: row;
                    >section:nth-of-type(1) {
                        flex-basis: calc(60% - 2rem);
                        margin-right: 2rem;
                    }
                    >section:nth-of-type(2) {
                        flex-basis: 40%;
                    }
                }
            }
            section {
                >header {
                    margin: 3rem 0;
                }
                app-featured-reviews {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
     :host {
        >main {
            width: 900px;
        }
    }
}

@media screen and (min-width: 1200px) {
     :host {
        >main {
            width: 1180px;
        }
    }
}