@import '../../../colors';
main {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;
    >div {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        >div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            >div {
                display: flex;
                flex-direction: column;
                >div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
        h1 {
            font-size: 2rem;
            font-weight: 500;
            margin: 1rem 0 .5rem 0;
        }
        h2 {
            font-size: 1.6rem;
            padding-bottom: 1rem;
            margin: 3rem 0 2rem 0;
            border-bottom: 2px solid $dark-color;
        }
        p {
            font-size: 1.4rem;
            font-weight: 300;
            margin: 0;
        }
        >app-featured-reviews {
            width: 100%;
        }
        >app-directory {
            width: 100%;
        }
        >app-card-list {
            width: 100%;
        }
        .masvistos {
            width: 100%;
        }
        .etiquetas {
            width: 100%;
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 3rem;
        >div {
            h1 {
                font-size: 2.2rem;
            }
            h2 {
                font-size: 2rem;
                margin: 4rem 0 2.5rem 0;
            }
            p {
                font-size: 1.4rem;
            }
            app-main-grid {
                width: 100%;
            }
            app-card-list {
                width: 100%;
            }
            .masvistos {
                width: 40%;
            }
            .etiquetas {
                width: 40%;
            }
        }
    }
}