<main>
    <div>
        <app-featured-reviews [featuredReviews]="lastReviews"></app-featured-reviews>
    </div>
    <div>
        <h1>Encuentra las mejores camisetas básicas en 2020 al mejor precio.</h1>
        <p>¿Quieres saber cuál es la mejor camiseta basica de manga corta para hombre? Analizamos todas las camisetas por ti para que sepas todo acerca de tu próxima compra. Formas, tejidos, marcas, colores, durabilidad, costuras, etiquetas, resistencia
            a los lavados, precio, etc</p>
    </div>
    <div>
        <header>
            <h2>Top 10 mejor valoradas</h2>
        </header>
        <div>
            <app-card-list [posts]="bestReviews"></app-card-list>
        </div>
    </div>
    <div>
        <header>
            <h2>Últimos análisis</h2>
        </header>
        <div>
            <app-card-list [posts]="lastReviews"></app-card-list>
        </div>
    </div>
    <div>
        <header>
            <h2>Mejores marcas</h2>
        </header>
        <app-directory [items]="brands"></app-directory>
    </div>
    <div>
        <div>
            <section>
                <header>
                    <h2>Análisis más vistos</h2>
                </header>
                <app-mini-list [posts]="lastReviews"></app-mini-list>
            </section>
            <section>
                <header>
                    <h2>Etiquetas</h2>
                </header>
                <app-mini-index [index]="tags"></app-mini-index>
            </section>
            <section></section>
        </div>
    </div>
    <div>
        <app-text-block></app-text-block>
    </div>
</main>