@import '../../../colors';
section {
    display: flex;
    flex-direction: column;
    >header {
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #f0f0f0;
        margin: 3rem 0;
        >h2 {
            font-size: 1.8rem;
            font-weight: 500;
        }
    }
    >div {
        display: flex;
        flex-direction: column;
        >article {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid $light-color;
            padding: 1rem 0 1rem 0;
            >div:first-of-type {
                position: relative;
                width: 70px;
                min-width: 70px;
                max-width: 70px;
                height: 70px;
                overflow: hidden;
                margin: 0;
                >a>img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    outline: 0;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            >div:last-of-type {
                display: flex;
                flex-direction: column;
                margin-left: 2rem;
                justify-content: space-between;
                >a>p {
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        outline: 0;
                    }
                }
                >div {
                    display: flex;
                    flex-direction: row;
                    >span {
                        font-size: 1.2rem;
                        color: $medium-color;
                        margin-right: 1rem;
                        >svg {
                            width: 13px;
                            height: 13px;
                            fill: rgba($medium-color, 1);
                            margin-right: .5rem;
                        }
                    }
                }
            }
            &:last-of-type {
                border: 0;
            }
        }
    }
}