<div>
    <article>
        <div [style.backgroundImage]="getImageMain()">
            <span>{{post?.type}}</span>
            <h1>{{post?.title}}</h1>
            <ul>
                <li *ngFor="let tag of post?.tags">{{tag}}</li>
            </ul>
        </div>
        <div>
            <aside>
                <div>
                    <app-score-card [analysis]="post?.analysis"></app-score-card>
                </div>
                <div>
                    <app-mini-index [index]="index"></app-mini-index>
                </div>
            </aside>
            <div>
                <ng-container *ngFor="let paragraph of post?.paragraphs">
                    <h3 *ngIf="paragraph.html_tag == 'h3'" [innerHtml]="paragraph.content"></h3>
                    <h4 *ngIf="paragraph.html_tag == 'h4'" [innerHtml]="paragraph.content"></h4>
                    <p *ngIf="paragraph.html_tag == 'p'" [innerHtml]="paragraph.content"></p>
                    <strong *ngIf="paragraph.html_tag == 'strong'" [innerHtml]="paragraph.content"></strong>
                </ng-container>
                <span>
                    <a [style.visibility]="post?.previousId ? 'visible' : 'hidden'" [href]="'post/' + post?.previousId">Previous post</a>
                    <a [style.visibility]="post?.nextId ? 'visible' : 'hidden'" [href]="'post/' + post?.nextId">Next post</a>
                </span>
            </div>
            <aside>

            </aside>
        </div>
        <div>
            <app-card-list [posts]="posts"></app-card-list>
        </div>
    </article>
</div>