<div>
    <article>
        <div [style.backgroundImage]="getImageMain()">
            <span>{{post?.type.content}}</span>
            <h1>{{post?.title}}</h1>
            <ul>
                <li *ngFor="let tag of post?.tags">
                    <a [routerLink]="['/tag', tag.content]">{{tag.content}}</a>
                </li>
            </ul>
        </div>
        <div>
            <div>
                <ng-container *ngFor="let paragraph of post?.paragraphs">
                    <h5 *ngIf="paragraph?.htmlTag.content == 'title'" [innerHtml]="paragraph.content"></h5>
                    <h6 *ngIf="paragraph?.htmlTag.content == 'subtitle'" [innerHtml]="paragraph.content"></h6>
                    <p *ngIf="paragraph?.htmlTag.content == 'paragraph'" [innerHtml]="paragraph.content"></p>
                    <strong *ngIf="paragraph?.htmlTag.content == 'quote'" [innerHtml]="paragraph.content"></strong>
                    <span *ngIf="paragraph?.htmlTag.content == 'summary'" [innerHtml]="paragraph.content"></span>
                    <img *ngIf="paragraph?.htmlTag.content == 'image'" [src]="paragraph.content" [alt]="paragraph.content">
                </ng-container>
            </div>
            <aside>
                <app-score-card [analysis]="post?.analysis"></app-score-card>
                <app-mini-index [index]="tags"></app-mini-index>
            </aside>
        </div>
    </article>
</div>