@import '../../../colors';
div {
    display: flex;
    flex-direction: column;
    >div {
        display: flex;
        flex-direction: column;
        >ul {
            margin: 0;
            padding: 0;
            list-style: none;
            >li {
                position: relative;
                padding: 1rem 0 1rem 3rem;
                border-bottom: 1px solid $light-color;
                >a {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $dark-color;
                    text-transform: uppercase;
                    margin: 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    width: 4px;
                    height: 4px;
                    transform: translateY(-50%);
                    background-color: $dark-color;
                    border-radius: 50%;
                }
                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }
    }
}