div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    >a {
        img {
            height: 5rem;
            outline: 0;
            &:hover {
                cursor: pointer;
            }
        }
    }
}