@import '../../../colors';
:host {
    display: flex;
    flex-direction: column;
    >section {
        display: flex;
        flex-direction: column;
        >header {
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid $light-color;
            margin: 3rem 0 3rem 0;
            >h2 {
                padding-bottom: 1rem;
                margin: 0 0 -2px 0;
                border-bottom: 2px solid $dark-color;
            }
        }
        >header {
            display: flex;
            flex-direction: column;
        }
        >article {
            display: flex;
            flex-direction: column;
        }
        p {
            margin: 0 0 1rem 0;
        }
    }
}