$header-background: rgba(40, 40, 40, 1);
$footer-background: rgba(80, 80, 80, 1);
$light-color: rgba(240, 240, 240, 1);
$medium-color: rgba(180, 180, 180, 1);
$dark-color: rgba(55, 55, 55, 1);
$navbar-background: rgb(198, 21, 21);