@import './colors';
html {
    min-height: 100%;
}

html,
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 300;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
}

a {
    color: $dark-color;
    text-decoration: none;
    outline: 0;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: rgba($dark-color, 1);
    }
}

b {
    font-weight: 600!important;
}

mark {
    background-color: rgba($yellow, 1)!important;
    padding: 0 .25rem!important;
}

u {
    text-decoration: none!important;
    border-bottom: 2px solid rgba($yellow, 1);
}

strong {
    font-size: 3rem;
}