@import '../../../colors';
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
    >div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 1024px;
        &:nth-of-type(1) {
            width: calc(100% - 3rem);
            margin: 0 .5rem 0 2.5rem;
        }
        >ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            >li {
                display: flex;
                flex-direction: row;
                outline: 0;
                margin-right: 1rem;
                >a {
                    text-decoration: none;
                    outline: 0;
                    font-size: 1.4rem;
                    font-weight: 300;
                    color: rgba($dark-color, 1);
                    margin: 0;
                    &:visited {
                        background-color: rgba($dark-color, 1);
                        color: rgba($dark-color, 1);
                    }
                }
                &:last-of-type {
                    padding: 1rem;
                    background-color: red;
                    color: white;
                    font-size: 1.4rem;
                    font-weight: 400;
                    margin: 0;
                    &:hover {
                        cursor: pointer;
                        filter: saturate(.75);
                    }
                }
            }
        }
    }
}