<nav>
    <div>
        <ul>
            <li [routerLink]="['/']">
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a>Fits</a>
            </li>
            <li>
                <a>Top 10</a>
            </li>
        </ul>
        <ul>
            <li>
                <i class="fab fa-instagram"></i>
            </li>
            <li>
                <i class="fab fa-pinterest"></i>
            </li>
            <li>
                <i class="fab fa-facebook"></i>
            </li>
            <li>
                <i class="fab fa-twitter"></i>
            </li>
            <li>SHOP</li>
        </ul>
    </div>
</nav>